<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MasterPage.Master.cs" Inherits="YourPlace.YourPlace" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    
</head>
<body bgcolor ="pink">
    <form id="form1" runat="server">
    <div>
        
        <h1>YourPlace</h1>
        <p>      
            <asp:HyperLink ID="HyperLink3" runat="server">Find Jobs</asp:HyperLink> &nbsp;&nbsp; 
            <asp:HyperLink ID="HyperLink1" runat="server">Login</asp:HyperLink> &nbsp;&nbsp;   
            <asp:HyperLink ID="HyperLink2" runat="server">Post Jobs</asp:HyperLink>            
        </p>
        <hr />
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>
